<h2>Register</h2>

<form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.username.label }}<br>
    {{ form.username }}<br>
    {{ form.username.errors }}<br>

    {{ form.password1.label }}<br>
    {{ form.password1 }}<br>
    {{ form.password1.errors }}<br>

    {{ form.password2.label }}<br>
    {{ form.password2 }}<br>
    {{ form.password2.errors }}<br>

    {{ form.email.label }}<br>
    {{ form.email }}<br>
    {{ form.email.errors }}<br>

    <button type="submit">Register</button>
</form>

<p>
Already have an account?
<a href="/login/">Login</a>
</p>