{% extends "base_app.html" %}
{% block title %}Edit Task — {{ task.title }}{% endblock %}

{% block page_content %}

<div class="bc mb20">
  <a href="{% url 'project_detail' task.project.id %}">{{ task.project.title }}</a>
  <span class="sep">›</span>
  <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
  <span class="sep">›</span>
  <strong>Edit</strong>
</div>

{% if messages %}
  {% for message in messages %}
    {% if 'success' in message.tags %}
    <div style="background:rgba(74,222,128,.1);border:1px solid rgba(74,222,128,.3);color:#4ade80;padding:9px 14px;border-radius:6px;margin-bottom:14px;">
    {% else %}
    <div style="background:rgba(255,107,107,.1);border:1px solid rgba(255,107,107,.3);color:#ff6b6b;padding:9px 14px;border-radius:6px;margin-bottom:14px;">
    {% endif %}
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="form-wrap">

<form method="post">
{% csrf_token %}

<div class="field mb16">
<label>Title *</label>
<input type="text" name="title" value="{{ task.title }}" required>
</div>

<div class="field mb16">
<label>Description</label>
<textarea name="description" rows="4">{{ task.description }}</textarea>
</div>

<div class="g2 mb16">

<div class="field">
<label>Status</label>
<select name="status">
<option value="Pending" {% if task.status == 'Pending' %}selected{% endif %}>Pending</option>
<option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
<option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
</select>
</div>

<div class="field">
<label>Priority</label>
<select name="priority">
<option value="High" {% if task.priority == 'High' %}selected{% endif %}>High</option>
<option value="Medium" {% if task.priority == 'Medium' %}selected{% endif %}>Medium</option>
<option value="Low" {% if task.priority == 'Low' %}selected{% endif %}>Low</option>
</select>
</div>

</div>

<div class="g2 mb20">

<div class="field">
<label>Assignee</label>
<select name="assignee">
{% for member in project_members %}
<option value="{{ member.id }}" {% if task.assignee.id == member.id %}selected{% endif %}>
{{ member.username }}
</option>
{% endfor %}
</select>
</div>

<div class="field">
<label>Deadline</label>
<input type="date" name="deadline" value="{{ task.deadline|date:'Y-m-d' }}">
</div>

</div>

<div style="display:flex;gap:10px;">
<button type="submit" class="btn btn-cy">Save Changes</button>
<a href="{% url 'task_detail' task.id %}" class="btn btn-ghost">Cancel</a>

{% if my_role == 'ADMIN' %}
<a href="{% url 'task_delete' task.id %}" class="btn btn-del">Delete</a>
{% endif %}

</div>

</form>

</div>

{% endblock %}